# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
*.ipr
*.iws

# Kotlin
.kotlin/

# Android
local.properties
captures/
.externalNativeBuild
.cxx

# OS
.DS_Store

# Logs y cachés
logs/
*.log

# Google Services config
google-services.json

# Archivos de configuración de servicios
google-services.json.enc
google-services.enc
